index.css*/


/*CSS Reset*/
/*you should reset to reset default to be more accurate*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Open Sans', sans-serif;
}

nav {
	/*0.8rem = 12.8px based on the root element (16px)*/
	/*shorthand padding property*/
	padding: 0.8rem;

	/*properties that make up padding property
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	*/

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav ul li {
	/*remove bullet points*/
	list-style-type: none;
}


/*NOTES ON DIFFERENCE
.nav, 
.nav-logo {
	background-color: teal;
}

--this will have priority over the previous one--
nav .nav, 
nav .nav-logo {
	background-color: chocolate;
}

*/

/*different parent but same class selector
--still works even though they are not siblings under same parent
--but maybe not a best practice
.nav, 
.header {
	background-color: chocolate;
}
*/

nav .nav, 
nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2,
#intro p {
	margin-bottom: 1rem;
}


#intro button {
	background-color: #C2195B;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}


#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}