/*index.css*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}


nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav ul li {
	list-style-type: none;
}

nav .nav, 
nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2,
#intro p {
	margin-bottom: 1rem;
}


#intro button {
	background-color: #C2195B;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/*ACTIVITY PART*/

#pre-footer {
	background-color: #002540;
	color: white;
}

#pre-footer div {
	display: inline-block;
	vertical-align: bottom;
	min-height: 100px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 0.5rem;
}

#pre-footer h3,
#pre-footer p {
	padding: 3px;
}

footer {
	padding: 1rem;
}

footer > span {
	padding: 0.5rem;
}